/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-feb-2019, 15:14:08
    Author     : jhovangallardo
*/
/* Formato para un "section" dentro del main*/
main>section{
    width: 75%;
    height: 100%;
    float: left;
    border-style : double;
    border-color : white;
}

/* Formato para un "aside" dentro del main*/
main>aside{
    width: 25%;
    height: 100%;
    float: left;
    padding: 20px;
    border-style : double;
    border-color : white;
    background: gainsboro; 
}

#mapa{
    width: 100%;
    height: 100%;
}

.colorpicker{
    width: 25%;
}